<div class="todo-component container-fluid">
    <div class="content">
        <div class="row">
            <span class="todo-name">{{$ctrl.todo.name}}</span>
        </div>
        <div class="row">
            <div class="
            todo-deadline
            col-lg-6
            col-md-6
            col-sm-6
            col-xs-6">
                <span>Deadline</span>
                <span ng-bind="($ctrl.todo.deadline | date : 'longDate')"></span>
            </div>

            <div class="
            todo-importance
            col-lg-6
            col-md-6
            col-sm-6
            col-xs-6">
                <span>Importance</span>
                <span ng-bind="$ctrl.todo.importance"></span>
            </div>

            <div class="
            col-lg-2text-center">
            </div>
        </div>
    </div>
    <div class="checkbox-holder text-center">
        <input type="checkbox" ng-model="$ctrl.todo.isComplete" ng-click="$ctrl.toggleComplete()"/>
    </div>
</div>