<div class="header text-center">
    <h1>Welcome to the TODO application!</h1>
</div>
<notification></notification>
<div class="body" ui-view></div>
<div class="footer">
    <h2>No rights reserved.</h2>
</div>