<div class="todos-wrapper">
    <a ui-sref="home.todos" rol="button" class="btn btn-primary btn-lg">Back to todos!</a>
    <h2>Create new todo!</h2>
    <form name="createTodoForm" ng-submit="vm.createNewTodo()">
        <div class="form-group">
            <label for="todoLabel">Todo label</label>
            <input type="text" name="todoLabel" id="todoLabel" class="form-control" max="255"
                   ng-model="vm.defaultTodo.name" required>
            <div role="alert" class="create-todo-error">
                <span class="error" ng-show="createTodoForm.todoLabel.$error.required">Required!</span>
                <span class="error" ng-show="createTodoForm.todoLabel.$error.max">Min 255 symbol require!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="selectImportance">Select level of Importance</label>
            <select name="mySelect" id="selectImportance"
                    class="form-control"
                    ng-options="option.level for option in vm.levelsOfImportance track by option.level"
                    ng-model="vm.defaultTodo.importance"></select>
        </div>
        <div class="form-group">
            <label for="exampleInput">Pick a date in 2013:</label>
            <input type="date"
                   class="form-control"
                   id="exampleInput" name="input" ng-model="vm.defaultTodo.deadline"
                   placeholder="yyyy-MM-dd" max="2020-12-31" required/>
            <div role="alert">
                <span class="error" ng-show="createTodoForm.input.$error.required">Required!</span>
                <span class="error" ng-show="createTodoForm.input.$error.date">Not a valid date!</span>
            </div>
        </div>
        <button class="btn btn-primary btn-lg" ng-disabled="createTodoForm.$invalid">Save Todo</button>
    </form>
</div>