.main {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
.container {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 8px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  background-color: rgba(0,0,0,0.01);
  .header {
    background-color: #eee;
    border-radius: 4px 4px 0px 0px;
    height: 5vh;
    h1 {
      margin: 0;
      padding: 0;
    }
  }
  .body {
  }
  .footer {
    height: 5vh;
    background-color: #e8e8e8;
    padding-left: 1em;
    border-radius: 0px 0px 4px 4px;
    margin-top: 1em;
    h2 {
      padding: 0;
      margin: 0;
    }
  }
}

