.notification {
  border-radius: 4px;
  color: white;
  padding: 0.5em;
  box-sizing: border-box;
  height: 5vh;
  margin: 1em;
  &.success {
    background-color: rgba(80,190,0,0.7);
    border: 2px solid green;
  }
  &.error {
    background-color: rgba(255,0,0,0.7);
    border: 2px solid red;
  }
  &.warning {
    background-color: rgba(255,255,0,0.7);
    border: 2px solid yellow;
  }
  h3 {
    padding: 0;
    margin: 0;
  }

}