.todos-wrapper {
  padding-left: 1em;
  padding-right: 1em;
}
.todos-list {
  padding-left: 1em;
  padding-right: 1em;
}
.todo-component {
  margin-top: 1em;
  border-radius: 4px;
  .content {
    width: 90%;
    float: left;
  }
  .checkbox-holder {
    display: table-cell;
    vertical-align: middle;
  }

  &.today {
    border: 2px yellow solid;
    background-color: rgba(255,255,0,0.1);
  }

  &.expiring {
    border: 2px red solid;
    background-color: rgba(255,0,0,0.1);
  }

  &.complete {
    border: 2px transparent solid;
    opacity: 0.6;
    background-color: #eee;
  }
  div [class*='todo-'] {
    span {
      float: left;
    }
    span:first-child {
      font-weight: bold;
      margin-right: 1em;
    }
  }

  .todo-name {
    padding-left: 1em;
  }

  .checkbox-holder {
    width: 10%;
    height: 44px;
  }
}