<div class="todos-wrapper">
    <div>
        <a ui-sref="home.create" class="btn btn-primary btn-lg" role="button">New task</a>
    </div>
    <div ng-if="vm.isLoading">
        <h2>Loading...</h2>
    </div>
    <div class="todos-holder" ng-if="!vm.isLoading">
        <div class="" ng-if="!vm.todos.length">
            <h2>You do not have any todo!</h2>
        </div>
        <div ng-if="vm.todos.length" class="todos-list">
            <h2>Your todos.</h2>
            <todo-item ng-repeat="todo in vm.todos track by $index" todo="todo"></todo-item>
        </div>
    </div>
</div>